@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

h1{
	text-align: center;
	font-family: "Gelasio";
	font-size: 3em;
}

div{
  font-size: 1.2em;
  width:46%;
  padding: 2%;
  display: inline-block;
}

#hero{
		float: left;
}

#aboutme{
	float: right;
}

.footer{
	font-family: 'Gelasio';
	font-size: 10px;
	text-align: center;
	clear: both;
}