@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Ma+Shan+Zheng&display=swap');

.mafont {
	font-family: 'Ma Shan Zheng';
	text-align: center;
}

body{
	font-size: 40px;
	background-color: gray;
	}

h2{
	text-align: center;
}

div{
	display: inline-block;
}

#why{
	float: left;
	font-size: .5em;
	width: 46%;
	padding: 2%; 
	background: white;
}

#channels{	
	float: right;
	font-size: .5em;
	width: 46%;
	padding: 2%; 
	background: white;
}

#title{
	float: center;
	font-size: 2em;
	width: 33%;
}

#nav{
	float: left;
	font-size: 1em;
	width: 30%;
	padding: 1.5%;
	display: block;	
}


#hero{
	width: 46%;
	padding: 2%;
	background: white;
	text-align: center;
	float: left;
}

#smtips{
	float: left;
	font-size: 1em;
	width: 60%;
	padding: 3%;
}

#followme{
	float: right;
	font-size: 1em;
	width: 30%;
	padding:1.5%;
}

a{
	background-color: gray;
	color: white;
	display: block;
	float: left;
	
}

a:hover {
	background-color: #aaaaaa;
}

li{
	float: left;
	width: 50%;
	height: 3em;
	outline: 3px solid #222;
	text-align: center;
	line-height: 3em;
}

.header{
	font-family: 'Libre Baskerville';
	font-size: .75em;
	text-align: center;
}

.footer{
	font-family: 'Libre Baskerville';
	font-size: .25em;
	text-align: center;
	clear: both;
}